.admin{
    text-align: center;
    background-color: lavender;
}
.manage-products{
    margin-top: 100px;
}
.manage-products h3{
    margin-bottom: 30px;
}
.add-products{
    margin-top: 50px;
    background-color: palevioletred;
    padding: 30px;
    text-align: center;
}
.add-products input{
    margin: 10px;
    width: 80%;
    padding:5px 20px;
}
.list{
    box-shadow: 5px 5px 10px gray;
    border-radius: 10px;
    height: 60px;
    padding: 20px;
    margin-bottom: 30px;
    background-color: lavenderblush;
}